<!-- Small modal -->
<!-- operarion success -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" id="comfirm_delete">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">确认 Confrim</h4>
      </div>
      <div class="modal-body">
        <p>删除确认 Deletion confirm</p>
        <button class="btn btn-danger button_delete" type="button" name="button" data-speid="">Delete</button>
        <button class="btn btn-default" type="button" name="button"
          data-dismiss="modal" aria-label="Close">Cancel</button>
      </div>
    </div>
  </div>
</div>
