<!-- Small modal -->
<!-- operarion success -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="dialog_success">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">提示 Dialog</h4>
      </div>
      <div class="modal-body">
        <p>操作成功 Successful operation.</p>
        <p>可能需要刷新才能看到修改结果 Maybe see the result after refreshing.</p>
      </div>
    </div>
  </div>
</div>
<!-- Small modal -->
<!-- operarion fail -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="dialog_fail">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提示 Dialog</h4>
      </div>
      <div class="modal-body">
        操作失败 Fail operation.
      </div>
    </div>
  </div>
</div>
