<!-- Modal -->
<div class="modal fade" id="modal_insert_fam" tabindex="-1" role="dialog" aria-labelledby="modal_insert_fam">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>创建新的科 Insert new family</h4>
      </div>
      <div class="modal-body">
        <form class="" action="" method="" role="form" id="insert_new_family">
          <div class="form-group">
            <input type="hidden" class="form-control" placeholder="Name in Latin" name="phy_id">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">拉丁科名 Latin family name</label>
            <input type="text" class="form-control" placeholder="Name in Latin" name="fam_name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">中文科名 Chinese family name</label>
            <input type="text" class="form-control" placeholder="Name in Chinese" name="fam_name_ch">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="insert_new_family_submit">Create new family</button>
      </div>
    </div>
  </div>
</div>
