{layout name="LAYOUT/layout_withnavbar" /}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index/search/index.css" >
<!-- First letter panel-->
<div class="panel panel-default">
  <div class="panel-heading">索引字母 First letter of index</div>
  <div class="panel-body">
    <div class="btn-group btn-group-justified">
  </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Result numbers</div>
  <div class="panel-body">
    Result number...
  </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h4>
         Ttitle...
          <button class="btn btn-primary">Edit</button>
      </h4>
    </div>
    <div class="panel_body">
        <img src="" class="img-thumbnail img-responsive" data-toggle="modal" data-target="#myModal" alt="Responsive image ">
      <div class="panel-body">
        <span>Gene:</span>
        Gene_ch Gene_la
        <br>
        <span>Family:</span>
        Fami_ch Fami_la<br>
      </div>
    </div><!-- End of CLASS panel_body-->
</div>
