{layout name="LAYOUT/layout_withnavbar" /}
<link rel="stylesheet" type="text/css" href="__PRIVATECSS__/search/index.css" >
<div id="search">
<div class="panel panel-default">
    <div class="panel-heading">
        <span> {{ result_number.ch }} </span><em>{$Request.get.search}</em>
      <span>{{ result_number.en }} </span><em>{$Request.get.search}</em>
    </div>
  <div class="panel-body">
      {$count|default="Unkown"}
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span>{{ search_option_title.ch }}</span> <span>{{ search_option_title.en }}</span>
    </div>
  <div class="panel-body">
      <form class="form-inline" action="{$Think.server.PHP_SELF}" method="GET">
        <input type="hidden" name="search" value="{$Request.get.search}">
        <input type="hidden" name="page" value="1">
        <div class="form-group">
        	<label for="form_items_per_page">
            	{{ search_option_itemsperpage.ch }} {{ search_option_itemsperpage.en }}:
          	</label>
            <!-- within name="ipp","ipp" means "items per page" for pagination -->
          	<select class="form-control" name="perpage" id="form_items_per_page">
            	<option value="10" {eq name="$Request.get.perpage" value="10"}selected{/eq}>10</option>
            	<option value="15" {eq name="$Request.get.perpage" value="15"}selected{/eq}>15</option>
            	<option value="20" {eq name="$Request.get.perpage" value="20"}selected{/eq}>20</option>
            	<option value="25" {eq name="$Request.get.perpage" value="25"}selected{/eq}>25</option>
            	<option value="30" {eq name="$Request.get.perpage" value="30"}selected{/eq}>30</option>
          	</select>
        </div>
        <div class="form-group">
          <label for="form_items_order">
            {{ search_option_order.ch }} {{ search_option_order.en }}:
          </label>
          <select class="form-control" name="order" id="form_items_order">
            <option value="species" {eq name="$Request.get.order" value="species"}selected{/eq}>种 species</option>
            <option value="genus" {eq name="$Request.get.order" value="gene"}selected{/eq}>属 genus</option>
            <option value="family" {eq name="$Request.get.order" value="family"}selected{/eq}>科 family</option>
          </select>
        </div>
        <input class="btn btn-default" type="submit" value="应用搜索选项 Apply search option">
      </form>
  </div>
</div>
 </div>
{// Template rendered by thinkPHP }
{// Output the items in loop }
{volist name="items" id="item"}
    {include file="PUBLIC/item_species" /}
{/volist}
<script src="__VUETPL__/search.js"></script>
<script src="__PRIVATEJS__/search/search/varyingModal.js"></script>
