    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">版权 Copyright</h4>
        </div>
        <div class="panel-body">
          {// Template rendered by thinkPHP }
          {$copyright}
        </div>
      </div>
    </div>
    <!-- bootstrap import -->
    <link rel="stylesheet" href="__PUBLIC__/js/vendor/bootstrap-3.3.7/css/bootstrap.min.css">
    <script  src="__PUBLIC__/js/vendor/bootstrap-3.3.7/js/bootstrap.js"></script>
  </body>
</html>
