<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>{$title|default="Untitled page"} - Plant Seed Image </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plant seed image(PSI) is an images repository of various plant seeds.">
    <meta name="keywords" content="plant,plant seed,academy,research">
    <meta name="author" content="Kaitou_Huang">
    <script src="__PRIVATEJS__/PUBLIC/common.js"></script>
    <script src="__PUBLIC__/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="__PRIVATEJS__/PUBLIC/kaitou.js"></script>
     <script src="__NPMREPO__/vue/dist/vue.js"></script>
     <link rel="stylesheet" href="__NPMREPO__/normalize.css/normalize.css">
    <link rel="stylesheet" href="__PRIVATECSS__/PUBLIC/common.css">
  </head>
  <body>
