<div class="panel panel-default">
    <div class="panel-heading">
      <h4>
          <span class="item_spe_name_ch">{$item.spe_name_ch}</span><span class="item_spe_name_la">{$item.gen_name} {$item.spe_epi} {$item.spe_authority}</span>
          <!--
          <button class="btn btn-primary">Edit</button>
          -->
      </h4>
    </div>
    <div class="panel_body container-fluid">
      <div class="row">
      <div class="col-md-2">
        <img src="__IMG_SPECIES__/{$item.id}/seed/{$item.id}_1.jpg"
        class="img-thumbnail img-responsive"
        data-toggle="modal"
        data-target="#modal_tuple"
        data-speid="{$item.id}"
        alt="image">
      </div>
      <div class="col-md-10">
        <span>属 Genus:</span>
        <span class="item_gen_name_ch">{$item.gen_name_ch} </span>
        <span class="item_spe_name_la">{$item.gen_name}</span>
        <br>
        <span>科 Family:</span>
        <span class="item_fam_name_ch">{$item.fam_name_ch} </span>
        <span class="item_fam_name_la">{$item.fam_name}</span>
      </div>
    </div><!-- End of CLASS panel_body-->
  </div>
</div>
