{include file="PUBLIC/header" /}
<link rel="stylesheet" type="text/css" href="__PRIVATECSS__/search/index.css" >
<link rel="stylesheet" href="__PUBLIC__/js/vendor/icheck/skins/flat/green.css">
{include file="PUBLIC/nav" /}
{include file="manage/tabs_nav"}
{__CONTENT__}
<script src="__VUETPL__/manage/PUBLIC.js"></script>
<script src="__NPMREPO__/zepto/dist/zepto.min.js"></script>
<!-- Import Icheck after Zepto and jQuery(have been imported within header) -->
<script src="__PUBLIC__/js/vendor/icheck/icheck.min.js"></script>
<!-- -->
{include file="PUBLIC/footer" /}
