{layout name="LAYOUT/layout_manage" /}
{// Template rendered by thinkPHP }
{// Output the items in loop }
<ol class="breadcrumb">
  <li>条目管理</li>
  <li class="active">种级管理</li>
</ol>
<form class="form-inline" action="" method="GET" role="search" >
  <div class="form-group">
    <input type="text" name="search" class="form-control" placeholder="输入植物拉丁名称 Insert genus and species name">
  </div>
  <button type="submit" class="btn btn-default">搜索 Search</button>
</form>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-condensed">
    <thead></thead>
    <tbody>
      <!-- Table header definition -->
      <tr>
        <th colspan="2">学名</th><th colspan="2">科</th><th colspan="2">属</th><th rowspan="2">操作</th>
      </tr>
      <tr>
        <th>中文名</th><th>拉丁名</th>
        <th>中文科名</th><th>拉丁科名</th>
        <th>中文属名</th><th>拉丁属名</th>
      </tr>
      <!-- End of table header definition -->
      {volist name="specieses" id="species"}
          {include file="manage/item/item_speices" /}
      {/volist}
    </tbody>
    <tfoot></tfoot>
  </table>
</div>
{$page}
{include file="manage/modal/edit_frame_species" /}
{include file="manage/modal/confirm_delete" /}
{include file="manage/modal/dialogs" /}
<script src="__PRIVATEJS__/manage/tuple/delete_speices.js"></script>
<script src="__PRIVATEJS__/manage/tuple/query_info_speices.js"></script>
<script src="__PRIVATEJS__/manage/tuple/update_info_speices.js"></script>
